body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.head {
  background-color: black;
  height: 60px;
}

.social .face {
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 68%;
  background-position: 60% 0;
  background-repeat: no-repeat;
  font-size: 30px;
  color: blue;
}

.social .twitter {
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 68%;
  background-position: 60% 0;
  background-repeat: no-repeat;
  font-size: 28px;
  color: rgb(126, 126, 223);
  text-align: center;
}

.social .google {
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 76%;
  background-position: 60% 0;
  background-repeat: no-repeat;
  font-size: 28px;
  color: red;
  text-align: center;
}

.social .whatsapp {
  font-size: 28px;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    green 20%,
    green 93%,
    transparent 93%
  );
  background-size: 85%;
  background-position: 60% 0;
  background-repeat: no-repeat;
  color: white;
}

.mail {
  padding-top: 10px;
  padding-left: 23%;
}

.no {
  padding-top: 10px;
}

.social {
  padding-top: 10px;
  padding-left: 13%;
}

.btn {
  font-weight: 600;
}

.btnlogin {
  padding-top: 10px;
}

.title {
  padding-left: 36%;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(235, 69, 69);
}
.m {
  font-size: 60px;
  color: rgb(6, 102, 139);
}
.mlogo{
  padding-left: 2%;
}
.log_img {
  padding-top: 12%;
  transform: rotate(12deg);
}

.t_log {
  padding-left: 3%;
}

.log{
  padding-top: 6px;
}
.carousel-caption {
  bottom: 40%;
  left: 20%;
}

.about h2 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 400;
}

.us {
  font-weight: 700;
  color: rgb(6, 102, 139);
}
.wel {
  color: rgb(6, 102, 139);
}

.des p {
  font-size: 18px;
}





.img1 {
  margin-bottom: 7%;
  padding-left: 12%;
}

.para {
  padding-right: 18%;
  margin-right: 8%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

#change-image {
  /* max-width: 30%; */
  height: 40vh;
  object-fit: cover;
}

.carousel-item img {
  object-fit: cover;
  height: 650px;
  width: 100;
}

.qaw {
  /* min-height: 650px; */
  /* opacity:1.8; */
  filter: brightness(35%);

  width: 100%;
}

.ourservice {
  position: absolute;

  color: white;

  font-size: 55px;
  font-weight: 400;
}

.conntent {
  position: relative;
}
.ser {
  font-weight: 600;

  color: #23b5b9;
}

.inner {
  position: absolute;
  padding-top: 8%;
  padding-right: 3%;
}

.t {
  top: 6%;
}
.syn {
  width: 40%;
}

.fa-syringe {
  background: #2bbdc2;
  padding: 45px;
  border-radius: 50%;
  font-size: 24px;
}

.fa-diagnoses {
  background: #2bbdc2;
  padding: 45px;
  border-radius: 50%;
  font-size: 24px;
}

.fa-ambulance {
  background: #2bbdc2;
  padding: 45px;
  border-radius: 50%;
  font-size: 24px;
}

.fa-stethoscope {
  background: #2bbdc2;
  padding: 45px;
  border-radius: 50%;
  font-size: 24px;
}

.txt1 {
  /* line-height: 1.9em; */
  margin-top: 0.7em;
  /* font-size: 0.9em; */
  color: #e0dfdf;
  /* text-align:unset; */
  /* letter-spacing: 0px; */
}

.txt2 {
  /* line-height: 1.9em; */
  margin-top: 0.7em;
  /* font-size: 0.9em; */
  color: #e0dfdf;
  /* text-align:unset; */
  /* letter-spacing: 0px; */
}

.r2 {
  /* padding-top: 3%; */
  margin-top: 2px;
}

.ts1 {
  color: rgb(235, 69, 69);
}

.ts2 {
  color: rgb(235, 69, 69);
}

.ts3 {
  color: rgb(235, 69, 69);
}

.ts4 {
  color: rgb(235, 69, 69);
}
.stories {
  background-color: #f4f4f4;
}

.stories h5 {
  font-size: 45px;
  font-weight: 450;
}

.stories .story {
  color: #119196;
  font-weight: 600;
}

.card-text {
  padding-left: 4px;

  font-size: 20px;
  color: white;
  height: 36px;
}

.card-body {
  background-color: black;
}
.card img {
  width: 318px;
  height: 280px;
}
.volu {
  color: #2bbdc2;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}


@media(max-width:400px){

  body{
    width: 100%;

  }
  .mail{
    padding-left: 7%;
    font-size: 12px;
  }
.no {
  padding-left: 12%;

  font-size: 12px;
}

.fa-envelope{
  padding-right: 3px;
  font-size: 12px;

}

.social{
  padding-left: 10%;

  font-size: 12px;

}
.btnlogin{
  height: 27px;
  font-size: 12px;
  padding: 4%;
  width: 50%;
  

  /* padding-bottom: 8%; */
}
.log{
  padding-top: 3%;
  padding-left: 12%;
}

.head{
  width: 100%;
  height: 80px;
}
.title{
  font-size: 20px;

}
.m{
  font-size: 35px;

}
.logimg{
  padding-left: 12%;

}
.log_img{
  width: 30px;
}
.about h2{
  font-size: 35px;

}

.wel h2{
  font-size: 14px;

}
.abtdes{
  font-size: 12px;
  text-align: justify;

}
.black-button{
  font-size: 10px;

}
.red-button{
  width: 110px;
  font-size: 10px;
 
}

.blue-button{
  font-size: 10px;
  width: 110px;

}
.baby{
  font-size: 10px;
  width: 110px;

}
.lab{
  font-size: 10px;
  width: 110px;

}

.para{
  font-size: 12px;
  padding-left: 4%;
  letter-spacing: 1px;
  padding-right: 1px;
}

.ourservice{
  font-size: 24px;

}

.ts1{
  font-size: 14px;
  padding-top: 8%;
  padding-right: 8%;

}
.txt1{
  font-size: 10px;

}

.fa-syringe{
  padding: 20px;
  font-size: 14px;
}
.fa-stethoscope{
  margin-top: 5%;
  padding: 20px;
  font-size: 14px;
}


.ts2{
  padding-top: 2%;
  font-size: 14px;
  padding-right: 3%;
  padding-left: 5%;

}
.txt2{
  top:0%;
  padding-left: 8%;
  padding-right: 14%;
  font-size: 10px;

}

.ts3{
  /* top: 8%; */
  font-size: 14px;
  padding-right: 8%;
  /* padding-top: 10%; */

}
.txt3{
  padding-left: 8%;
  padding-right: 14%;
  font-size: 10px;

}

.ts4{
  padding-left: 7%;

  margin-top: 3%;
  font-size: 14px;
  padding-right: 8%;

}

.txt4{
  padding-left: 8%;
  padding-right: 14%;
  font-size: 10px;

}

.fa-diagnoses{
  padding: 19px;
  font-size: 13px;
}
  
.fa-ambulance{
  margin-top: 5%;

  padding: 20px;
  font-size: 14px;
}
.stories h5{
  padding-right:25%;
  font-size: 26px;

}
.c1{
  padding-left: 20%;
}

.d1{
  padding-left: 10%;
  font-size: 14px;

}
}